
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;}

.container {
    
  width: 1110px;
  margin: 0 auto;
   
}


main {
    position: relative; ;
}

.header {
    display: flex;

    padding: 12px 165px 0 165px;
    justify-content: center;
    align-items: center;
    
}



.nav_menu {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: #505F98;
    margin-right: 60px;
    
}

.nav_menu:last-child {
    margin-right: 0;
}
 
.nav {
    display: flex;
    width: 100%;
 
    
    
   
    align-items: center;
}


.right_block {
    display: flex;
    width: 100%;
    justify-content: end;
}

.header_button {
    text-decoration: none;
    
}

.btn {
    padding: 4px 0;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 500;
    background-color: #111B47;
    width: 160px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.burger_menu {
    display: none;
}


  .container {
    width: 1110px;
    margin: 0 auto;
  }
  .hero {
    height: 100vh;
    background-image: url(/img/pic.svg);
    background-size: auto calc(100vh + 30px);
    background-repeat: no-repeat;
   
    background-position: calc(100% + 320px) bottom;
  }
  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 70px);
  }

  

  
  .hero_title {

    width: 539px;
    
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #091133;
}

  .hero-small-img {

    width: 300px;
    margin-bottom: 30px;
    display: block;
    margin: 0 auto;
    
    display: none;
  }

  .hero_subtitle {
     margin-top: 20px;
    color: #505F98;
    font-size: 18px;
    font-weight: 400;
  }


  .hero_text {
    width: 50%;
  }

  .all_btn {
    background-color: #111B47;
    color: #FFFFFF;
    border: none;
    font-size: 16px;
    font-weight: 500;
    width: 189px;
    height: 36px;
    cursor: pointer;
}

.all_btn:hover {
    background-color: #273880;
}

.main_btn {
    margin-top: 69px;
    margin-right: 30px;
}

.main_btn_2 {
    border: 2px solid #091133;
    width: 189px;
    height: 36px;
    background: none;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    
}

.main_btn_2:hover {
    background-color: #273880;
}






  /* section 1 */


.aside {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 110px;
    align-items: center;
}
.content {
    margin-top: 40px;
}
.title {
    font-weight: 500;
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 15px;
}
.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #6F7CB2;;
}
.top {
    margin-top: 10px;
}
.icons {
    display: flex;
    margin-top: 80px;
}
.white {
    fill: black;
}
.icon:last-child {
    margin-left: 50px;
}
.scrip {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 5px;
}
.scription {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #5D6970;
}





/* section 2*/


.container {
  width: 1110px;
  margin: 0 auto;
}

.intro_block {
  display: flex;
  padding-top: 122px;
  padding-bottom: 131px;
}

.intro_block2 {
  padding-top: 92px;
  padding-bottom: 90px;
}

.intro_block3 {
  padding-bottom: 116px;
  padding-top: 118px;
}

.intro_left_block {
  margin-right: 125px;
  width: 540px;
}

.intro_left_block2 {
  margin-right: 125px;
  width: 540px ;
}

.intro_left_block3 {
  margin-right: 125px;
  width: 540px ;
}

.intro_img2 {
  width: 540px;
}

.intro_img_phone {
    display: none;
}






.intro_right_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 445px;
}

.intro_title {
  font-size: 36px;
  font-weight: 500;
  color: #091133;
}

.intro_text {
  font-size: 16px;
  color: #6F7CB2;
  margin-top: 16px;
}

.all_btn {
  background-color: #111B47;
  color: #FFFFFF;
  border: none;
  
  font-weight: 500;
  
  cursor: pointer;
}

.all_btn:hover {
  background-color: #273880;
}


.intro_btn {
  width: 150px;
  height: 32px;
  font-size: 14px;
  margin-top: 44px;
}
/* FOOTER */

.blok {
    width: 100%;
    height: 783px;
    background-color: #F3F5FF;
    text-align: center;
    padding-top: 216px;
    font-family: Roboto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.blok_title{
    font-size: 36px;
    font-weight: 500; 
    color: #091133;
}

.blok_subtitle {
    width: 600px;
    padding-top: 16px;
    font-size: 16px;
    font-weight: 400;
    color: #6F7CB2;
    line-height: 26px;
}
h3 {
    font-size: 50px;
    font-weight: 500;
    color:  #222F65;
    padding-top: 35px;

}
.design {
    font-size: 16px;
    font-weight: 400;
    color: #37447E;
}
.price {
    font-size: 14px;
    font-weight: 400;
    padding-top: 61px;
    color: #5D6970;
}

footer {
      padding: 0 165px;

    width: 100%;
    height: 216px;
    background-color:#E7ECFF ;
    font-family: Roboto;
}

.data {
    font-size: 14px;
    color: #939EA4;
    font-weight: 500;
    padding-top: 68px;
}

.footer_img {
    padding-top: 61px;
}
.pervyi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.footer_btn {
    width: 109px;
    height: 26px;
    border-radius: 2px;
    background-color: #111B47;
    color: white;
    font-size: 12px;
    font-weight: 500;
    margin-top: 71px;
    border: none;
    cursor: pointer;

}
.center{
    display: flex;
    justify-content: center;
}
.line {
    width: 100%;
    height: 1px;
    background-color: #CDD1D4;
    margin-top: 40px;
}

.footer-menu ul {
   font-size: 14px;   
   color: #929ECC; 
   font-weight: 400;
   display: flex;
   list-style-type: none; 
    
}
.footer-icons svg{
    width: 16px;
    height: 16px;
}
.footer-menu {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  
}
footer p{
    width: auto;
}
.footer-menu ul{
    width: 245px;
    display: flex;
    justify-content: space-between;
}
.footer-icons{
    width: 184px;
    display: flex;
    justify-content: space-between;
}


.footer_btn:hover {
    background-color: #273880;
}

@media screen and (max-width: 1150px) {
    .container {
        width: 800px;
        margin: 0 auto;
    }
    .hero_text {

        width: 50%;
    }
    .hero {
  
        background-position: calc(100% + 420px) bottom;

    }

    .aside {
    display: flex;
    flex-direction: column;
    }
    .picture {
    width: 600px;
    margin-top: 0px;
    }
    .content {
    align-items: center;
    }
    .icons {
    margin-bottom: 90px;
    }


    .intro_block {
        display: flex;
        flex-direction: column;
        padding-top: 67px;
        padding-bottom: 0;
       
    }

    .intro_title {
        text-align: center;
        font-size: 26px;
    }
    .intro_left_block {
        width: 100%;
        padding: 0 20px;
        display: flex;
        justify-content: center;
        margin-bottom: 26px;
    }


    .intro_left_block2 {
        width: 100%;
        padding: 0 20px;
        display: flex;
        justify-content: center;
        margin-bottom: 26px;
      
    }

    .intro_left_block3{
        width: 100%;
        padding: 0 20px;
        display: flex;
        justify-content: center;
        margin-bottom: 26px;
    }


    .intro_right_block {
        width: 100%;
        
        padding-bottom: 50px;
    }



    .intro_right_block:last-child {
        padding-bottom: 95px;
    }

    .intro_button {
        display: flex;
        justify-content: center;
    }
  }
  @media screen and (max-width: 850px) {
    .container {
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;
    }
    .hero-text {
        width: 100%;
    }
    .hero {
       
        background-image: none;
    }
    .hero-small-img {
   
        display: block;
    }

    .nav {
        display: none;
    }
    .burger_menu {
        display: block;
    }
    .header {
        width: 100%;
        display: flex;
       
    }

    .hero_text {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .hero_title {
       width: 350px;
       text-align: center;
        font-size: 30px;
        
       
    }

    .hero_subtitle {
        text-align: center;
        font-weight: 700;
        font-size: 18px;
        width: 100%;
    }
    .header_button {
        display: none;
        }


  }


  @media screen and (max-width: 375px) {
    .header_button {
    display: none;
    }

    .nav {
        display: none;
    }

    .burger_menu {
        display: block;
    }

    .header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 12px 16px 0 16px;
    }
    
    .container {
        padding: 0 16px;
    }
    .hero_title {
        text-align: center;
        font-size: 30px;
        width: 343px;
        height: 70px;
    }

    .hero_subtitle span {
        display: none;
        
    }
    .hero_subtitle {
        text-align: center;
        font-weight: 700;
        font-size: 18px;
        width: 343px;
    }
    .hero-small-img {
        margin-top: 18px;
        margin-bottom: 26px;
        display: block;
    }
    .hero {
        height: 673px;
    }
    .hero-content {
        height: 100%;

    }

    .main_btn {
        
        margin-right: 0;
        margin-top: 26px;
        margin-bottom: 13px;
        
    }
    .main_all_button {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 375px;
    }

    
    .aside {
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        color: #fff;
    }
    .bg {
        background-color: #9CA7DF;
    }
    .picture {
        width: 300px;
        margin-top: 40px;
    }
    .title {
        font-size: 26px;
    }
    .text {
        color: #fff;
    }
    .icons {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 60px;
    }
    .icon:last-child {
        margin-left: 0;
        margin-top: 40px;
    }
    .white {
        fill: #fff;
    }
    .scription {
        color: #fff;
    }

    .intro_img_phone {
        display: block;
    }
    .intro_img {
        display: none;
    }
    .intro_img2 {
        display: none;
    }

    .intro_block {
        display: flex;
        flex-direction: column;
        padding-top: 67px;
        padding-bottom: 0;
       
    }

    .intro_title {
        font-size: 26px;
    }
    .intro_left_block {
        width: 100%;
        padding: 0 20px;
        display: flex;
        justify-content: center;
        margin-bottom: 26px;
    }


    .intro_left_block2 {
        width: 100%;
        padding: 0 20px;
        display: flex;
        justify-content: center;
        margin-bottom: 26px;
      
    }

    .intro_left_block3{
        width: 100%;
        padding: 0 20px;
        display: flex;
        justify-content: center;
        margin-bottom: 26px;
    }


    .intro_right_block {
        width: 100%;
        padding-bottom: 50px;
    }

    .intro_right_block:last-child {
        padding-bottom: 95px;
    }

    .intro_button {
        display: flex;
        justify-content: center;
    }

    .pervyi {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
    }
    footer {
        padding: 0 16px;
        height: 100%;
    }

    .footer-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .footer-menu ul {
        margin-bottom: 57px;
        padding-top: 27px;
    }

    .footer-icons {
        padding-bottom: 79px;
    }
    
    .blok {
        height: 706px;
    }
    .blok_p {
     width: 343px;   
    }
    .design {
        padding-top: 31px;
    }
    .price {
        padding-top: 9px;
    }
}