* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    padding:  0 165px;
}


main {
    position: relative; ;
}

header {
    display: flex;
    padding-top: 12px;
    justify-content: space-between;
}

.nav_menu {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: #505F98;
    margin-right: 60px;
    
}

.nav_menu:last-child {
    margin-right: 0;
}
 
.nav {
    display: flex;
   
    align-items: center;
}

.header_button {
    text-decoration: none;
    
}

.btn {
    padding: 4px 0;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 500;
    background-color: #111B47;
    width: 160px;
    border: none;
    border-radius: 2px;
}

.main_content {
    display: flex;
}

.main_img_cloud {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
}

.main_text {
    width: 539px;
    margin-top: 253px;
}

.main_title {
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #091133;
}

.main_subtitle {
    margin-top: 20px;
    color: #505F98;
    font-size: 18px;
    font-weight: 400;
}


.all_btn {
    background-color: #111B47;
    color: #FFFFFF;
    border: none;
    font-size: 16px;
    font-weight: 500;
    width: 189px;
    height: 36px;
    cursor: pointer;
}

.all_btn:hover {
    background-color: #273880;
}

.main_btn {
    margin-top: 69px;
    margin-right: 30px;
}

.main_btn_2 {
    border: 2px solid #091133;
    width: 189px;
    height: 36px;
    background: none;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    
}

.main_btn_2:hover {
    background-color: #273880;
}

.main_img_person {
    position: absolute;
    z-index: 2;
    top: 237px;
    right: 0;

}